.lightGray {
	background-color: rgb(211,211,211,0.3);
}

.hovermember {
	background-color: white;
}

div.memberpic {
	display: none;
}

div.memberpic img {
	-webkit-filter: blur(1.4px); /* Safari 6.0 - 9.0 */
    filter: blur(1.4px);
}

div.borderAnimate {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    -webkit-animation: mymove 3s; /* Safari 4.0 - 8.0 */
    -webkit-animation-play-state: play; /* Safari 4.0 - 8.0 */
    animation: mymove 3s;
    animation-play-state: play;
    animation-iteration-count: infinite;
}

/*
.OurPeopleWrapper {
	display: block;
	overflow: hidden;
}
*/

.OurPeopleWrapper {
	width: 400px;
    height: 267px;
    border: 1px solid black;
    overflow:hidden;
    position:relative;
}

/*
.InnovateFocus img {
    width:100%;
    -webkit-transition: all 1s;
	-webkit-transform: scale(1);
    -o-transition: all 1s;
    -o-transform: scale(1);
    -moz-transition: all 1s;
    -moz-transform: scale(1);
    -ms-transition: all 1s;
    -ms-transform: scale(1);
    transition: all 1s;
    transform: scale(1);
    left:0;
    top:0;
}

.InnovateFocus:hover img {
	-webkit-transform: scale(2);
	-o-transform: scale(2);
  	-moz-transform: scale(2);
  	-ms-transform: scale(2);
	transform: scale(2);
	left:-15em;
    top: 8em;
    */

.InnovateFocus img {
	background-size: 400px 267px;
    background-position:center;
    transition: all 1s ease;
    width:100%;
    height:100%;
    transform: scale(1);
    position:relative;
    left:0;
    top:0;
}

.InnovateFocus:hover img {
	transform: scale(2.1);
    -webkit-transform: scale(2.1);
    left:-150px;
    top:-100px;
}